@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Jua&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body    {
    margin: 0;
    padding: 0 0 0 0;
    height: auto;
    font-family: "Jua", serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*font-family: "Amarante", serif;*/
}

body    {
    padding-bottom: 3em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-image: url("fundo111.png");
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100vw 100vh; /* cobre a tela sem esticar */
    background-position: center;
    background-attachment: fixed; /* faz a imagem rolar junto */
}

p   {
    font-family: "Libre Baskerville";
    font-weight: normal;
}

#titulo-principal   {
    text-align: center;
    font-size: 2.6em;
    text-shadow: 0 0 4px black;
    width: max-content;
    height: min-content;
    padding: 2em 2em 2em 2em;
    margin: 7vh 0 0 0;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 5px black;
    border-radius: 100em;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.128);
    color: white;
}
#titulo-principal div   {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#titulo-principal h1,p    {

    margin: 0 6px 0 6px;
}
#titulo-principal p {
    font-size: 0.8em;
}

#categorias {
    width: 90vw;
    max-width: 1900px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria   {
    padding: 0em;
    margin: 3em;
    border-radius: 1em;
    background-color: rgb(214, 214, 214);
    box-shadow: 0 0 7px black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    transition: 0.3s;
}

.categoria:hover    {
    transform: scale(1.04);
    box-shadow: 0 0 10px black;
}

.categoria p    {
    color: white;
    background-color: brown;
    box-shadow: 0 0 10px black;
    width: 300px;
    margin: 0;
    border-radius: 0 0 1em 1em;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    position: relative;
    margin: auto;
    top: 280px;
}

a   {
    text-decoration: none;
}

h2  {
    font-size: 4em;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 0px auto auto auto;
    padding: 10px;
    width: 90vw;
    max-width:1900px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3em;
}

.trecho-historia h3, h3  {
    color: white;
    font-size: 1.3em;
}

h3  {
    font-size: 2em;
    text-shadow: 0 0 8px black;
}

.trecho-historia    {
    background-color: rgba(0, 0, 0, 0.471);
    color: white;
    display: flex;
    align-items: center;
    width: 40vw;
    max-width: 850px;
    padding: 2em;
    border-radius: 1em;
    }

.trecho-historia p  {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.297);
    margin-bottom: 1em;
    }

.trecho-historia img    {
    width: 280px;
    box-shadow: 0 0 10px black;
    border-radius: 0.5em;
    margin: 10px;
    }

#titulo-categoria   {

}

@media (max-width: 1000px)  {

    body    {
        background-size: cover;
    }

    #titulo-principal   {
        margin-top: 3vh;
        padding: 0.5em 1.5em 0.5em 1.5em;
        border-radius: 3em;
        font-size: 2.5em;
        width: 50vw;
    }
    #titulo-principal div   {
        flex-direction: column;
    }

    .categoria:hover    {
    transform: scale(1);
    }

    h2  {
        font-size: 2.5em;
    }

    .trecho-historia    {
        width: 90vw;
        display: block;
        padding: 0em;
    }
}